

.gallery {
    text-align: center;
}


.whiteBgrd {  
    margin: auto;
    width: 960px;
}

h1 {
    margin-top: 15px;
    font-size: 50px;
}

.name1 {
    background-color: #4A6F7F;
    color: white;
    text-align: center;
    padding-top: 0;
    padding-bottom: 5px;
    float: left;
    width: 480px;
    margin: auto;
    height: 101px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pages {
    
    background-color: white;
    
    
    float: left;
    position: absolute;
    top: 35px;
    right: 5%;
    
}

.boxAtTop {
    padding-top: 78px;
    height: 23px;
    background-color: white;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/images.jpeg);
    margin: 0 auto;
    color: #4A6F7F;
    font-weight: 100;    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(196, 41, 41);
    margin: 0;    
}

a {
    color: rgb(196, 41, 41);
    text-decoration: none;
    padding-right: 5px;
    font-size: 18px;    
    vertical-align: bottom;
}
.links1 {
    vertical-align: bottom;
}

a:hover {
    color: rgb(231, 77, 77);
}

#links {   
    padding-top: 78px;
    height: 23px;
    text-align: right;
    bottom: 10px;
    background-color: white;
    padding-right: 20px;  
}

.photo {
    float: left;
}

.picBio {    
    background-color: white;
    margin-bottom: 150px; 
}

.footLine {
    width: 100%;
    background-color: rgb(86, 109, 151);
    height: 5px; 
}

#mainStuff {    
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 1.75;
    font-weight: 100;
    color: rgb(87, 116, 153);
}

.pp {
    padding-bottom: 40px;
}



h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
    color: rgb(196, 41, 41);
    font-size: 40px;
    margin: 0 auto;   
}

.container {
    border-radius: 5px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

footer {
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: rgb(139, 161, 201); 
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 18px;
}

form {
    margin: 5px 15px 30px;   
}

::placeholder {
    color: rgb(188, 204, 211);
    font-weight: lighter;
}

input[type=text], select {
    width: 50%;
    margin: 5px 15px 30px 0;
    padding: 10px 20px;
    font-size: 18px;
    color: #2B3A5A;
    outline: none;
    border: solid 1px #A9B8BF;
    border-radius: 3px;
}

input[type=submit] {   
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    outline: none;
    background-color: #4A6F7F;
    border: solid 1px #4A6F7F;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: rgb(46, 77, 90);
    border-color: rgb(46, 77, 90);
}

textarea {
    width: 75%;
    height: 300px;
    font-size: 18px;
    color: #2B3A5A;;
    margin: 5px 15px 30px 0;
    padding: 10px 20px;
    outline: none;
    border: solid 1px #A9B8BF;
    border-radius: 3px;
}

.gallery {
    position: relative;
    text-align: center;
    margin: 5px;
}

.description {
    padding: 2px;
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(74, 111, 127, .5);
    color: white;
    width: 271px;
    margin: 21px;
}
/*.column img {
    float: left;
    width: 275px;
    
    border: 3px solid rgb(205, 216, 221);
    border-radius: 3px;
} */

.column {
    position: relative;
    float: left;
    width: 30%;
    margin: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#centerText a {
    color: rgb(196, 41, 41);
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;  
}

#centerText a:hover {
    color: rgb(231, 77, 77);
}

#centerText {
    text-align: right;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 250px;
    margin: 27px 20px 0 27px;
    border: solid 3px rgb(200, 211, 216);
}

.row {
    width: 960px;
    margin: 0;
}
.gallery {
    position: relative;

}
.captionsA {
    position: absolute;
    top: 200px;
    left: 47px;
    
}
.captionsB {
    position: absolute;
    top: 200px;
    left: 348px;
    
}
.captionsC {
    position: absolute;
    top: 200px;
    left: 647px;
    
}
.captionsD {
    position: absolute;
    top: 490px;
    left: 47px;
    
}
.captionsE {
    position: absolute;
    top: 490px;
    left: 348px;
    
}
.captionsF {
    position: absolute;
    top: 490px;
    left: 647px;
    
}
.overlayText {
    background-color: rgba(43, 58, 90, 0.25);
    color: white;
    width: 195px;
    text-align: center;
}

.photographs {
    text-align: center;
}

.portfolioImg {
    margin: 20px;
}










@media only screen and (max-width: 980px) {
    .name1 {
        width: 40%;
            
        }
        .pages {
            position: absolute;
            
            
        }
        #mainStuff {
            width: 80%;
            position: absolute;
            left: 5%;
            margin: auto;
           
        }
        .whiteBgrd {
            margin-left: 30px;
        }
        .links1 {
            margin-right: 25px;
        }  
        .photographs {
            text-align: center;
        }
        .captionsA {
            position: absolute;
            top: 200px;
            left: 110px;
            
        }
        .captionsB {
            position: absolute;
            top: 200px;
            left: 410px;
            
        }
        .captionsC {
            position: absolute;
            top: 490px;
            left: 110px;
            
        }
        .captionsD {
            position: absolute;
            top: 490px;
            left: 410px;
            
        }
        .captionsE {
            position: absolute;
            top: 785px;
            left: 110px;
            
        }
        .captionsF {
            position: absolute;
            top: 785px;
            left: 410px;
            
        }

}


@media only screen and (max-width: 768px) {
    
    .name1 {
    width: 40%;
        
    }
    .pages {
        position: absolute;
        
        top: 35px;
       
    }
    #mainStuff {
        width: 90%;
        
    }
    .whiteBgrd {
        margin-left: 30px;
    }
    .links1 {
        margin-right: 20px;
    }
    .portfolioImg {
        margin: auto;
    }
    .gallery {
        margin: 15px;
    }

    
}

@media only screen and (max-width: 640px) {
    
    .pages, .name1, .whiteBgrd {
        width: 100%;
        
    }
    .pages {
        height: 60px;
        position: absolute;
        top: 105px;
        left: 0;
        line-height: 3;
       
        text-align: center;
    }
    #mainStuff {
        width: 90%;
        margin-top: 90px;
        
    }
    .whiteBgrd {
        margin: 0;
    }
    .links1 {
        line-height: 3.5;
    }
    .photo {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .portfolioImg {
        width: 400px;
        margin-top: 30px;

    }
    
 
}